@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model List<ClothesShopApp.Data.Entity.Address>
    Layout = "_CustomerLayout";
}
<div class="bg0 m-t-50 m-b-50 p-b-140">
    <div class="container">
        <div class="d-flex justify-content-center">
            <div class="block1 p-all-10 d-flex justify-content-center" style="width:800px; height:auto">
                <div>
                    <div><a asp-action="AddAddress">Adres Ekle</a></div>
                    @if (Model.Count != 0)
                    {

                        @foreach (var address in Model)
                        {


                            <div style="width:600px;">
                                <div class="card w-100">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <h2>@address.addressHeader</h2>
                                            <a asp-action="EditAddress" asp-route-id="@address.addressId">
                                                <i class="fs-16 zmdi zmdi-edit"></i>
                                            </a>


                                        </div>

                                        <div>

                                            <h6>@address.firstName @address.lastName</h6>

                                            <h6>@address.Location.parentLocation.name @address.Location.name</h6>
                                            <h6>@address.addresses</h6>
                                            <h6>@address.phone</h6>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        }

                    }
                    else
                    {
                        <div style="width:600px;height:330px;">
                            <div class="card w-100">
                                <div class="card-body">
                                    <div class="d-flex justify-content-between">
                                        <p>Kayıtlı Adresiniz Bulunmamkatadır</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>


        </div>


    </div>

</div>


@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @if (TempData["Success"] != null)
    {
        <script>

            $(document).ready(function () {

                const Toast = Swal.mixin({
                    toast: true,
                    position: "top-end",
                    showConfirmButton: false,
                    timer: 3000,
                    timerProgressBar: true,
                    didOpen: (toast) => {
                        toast.onmouseenter = Swal.stopTimer;
                        toast.onmouseleave = Swal.resumeTimer;
                    }
                });

                Toast.fire({
                    icon: "success",
                    title: "Address Eklendi"
                });



            });

        </script>
    }
}