
@{
	@model List<ClothesShopApp.Data.Entity.Address>
	Layout = "_Layout";
}

<style>
	.btn-remove {
		width: 36px;
		height: 36px;
		border: 1px solid black; /* Siyah border */
		border-radius: 8px; /* Köşe yuvarlama */
		display: flex;
		align-items: center; /* Yatayda ortalama */
		justify-content: center; /* Dikeyde ortalama */
		background-color: #f8f9fa; /* Arka plan rengi */
		cursor: pointer; /* Tıklanabilir kursor */
		transition: background-color 0.3s, border-color 0.3s; /* Geçiş efekti */
	}

		.btn-remove i {
			font-size: 16px; /* İkon boyutu */
			color: black; /* İkon rengi */
		}

		.btn-remove:hover {
			background-color: #e9ecef; /* Hoverda arka plan rengi */
			border-color: #007bff; /* Hoverda border rengi */
		}

</style>



<!-- breadcrumb -->
<div class="container">
	<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
		<a href="index.html" class="stext-109 cl8 hov-cl1 trans-04">
			Home
			<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
		</a>

		<span class="stext-109 cl4">
			Shoping Cart
		</span>
	</div>
</div>


<!-- Shoping Cart -->
<form class="bg0 p-t-75 p-b-85" id="checkout-form">
	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
				<div class="m-l-25 m-r--38 m-lr-0-xl">
					<div class="wrap-table-shopping-cart">
						<table class="table-shopping-cart">
							<thead>
								<tr class="table_head">
									<th class="column-1">Product</th>
									<th class="column-2"></th>
									<th class="column-3">Price</th>
									<th class="column-4">Quantity</th>
									<th class="column-5">Total</th>
								</tr>
							</thead>
							<tbody id="cart-items">
								@* <tr class="table_row">
								<td class="column-1">
								<div class="how-itemcart1">
								<img src="images/item-cart-04.jpg" alt="IMG">
								</div>
								</td>
								<td class="column-2">Fresh Strawberries</td>
								<td class="column-3">$ 36.00</td>
								<td class="column-4">
								<div class="wrap-num-product flex-w m-l-auto m-r-0">
								<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
								<i class="fs-16 zmdi zmdi-minus"></i>
								</div>

								<input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product1" value="1">

								<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
								<i class="fs-16 zmdi zmdi-plus"></i>
								</div>
								</div>
								</td>
								<td class="column-5">$ 36.00</td>
								</tr> *@
							</tbody>




						</table>
					</div>

					<div class="d-flex justify-content-center">
						<div class="block1 p-all-10 d-flex justify-content-center" style="width:800px; height:auto">
							<div>
								<div><a asp-action="AddAddress">Adres Ekle</a></div>
								@if (Model.Count != 0)
								{

									@foreach (var address in Model)
									{

										<div style="width:600px;">
											<div class="card w-100">
												<div class="card-body">
													<div class="d-flex justify-content-between">
														<h2>Adres Başlığı</h2>
														<a asp-action="EditAddress" asp-route-id="@address.addressId">
															<i class="fs-16 zmdi zmdi-edit"></i>
														</a>


													</div>

													<div>
														<h6>@address.user.name @address.user.lastName</h6>

														<h6>@address.Location.parentLocation @address.Location.subLocations</h6>
														<h6>@address.addresses</h6>
													</div>

												</div>
											</div>
										</div>
									}

								}
								else
								{
									<div style="width:600px;height:330px;">
										<div class="card w-100">
											<div class="card-body">
												<div class="d-flex justify-content-between">
													<p>Kayıtlı Adresiniz Bulunmamkatadır</p>

												</div>
											</div>
										</div>
									</div>
								}
							</div>

						</div>


					</div>
				</div>
			</div>

			<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
				<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
					<h4 class="mtext-109 cl2 p-b-30">
						Cart Totals
					</h4>

					<div class="flex-w flex-t bor12 p-b-13">
						<div class="size-208">
							<span class="stext-110 cl2">
								Subtotal:
							</span>
						</div>

						<div class="size-209">
							<span class="mtext-110 cl2">
								$79.65
							</span>
						</div>
					</div>

					<div class="flex-w flex-t bor12 p-t-15 p-b-30">
						<div class="size-208 w-full-ssm">
							<span class="stext-110 cl2">
								Shipping:
							</span>
						</div>

						<div class="size-209 p-r-18 p-r-0-sm w-full-ssm">
							<p class="stext-111 cl6 p-t-2">
								There are no shipping methods available. Please double check your address, or contact us if you need any help.
							</p>

							<div class="p-t-15">
								<span class="stext-112 cl8">
									Calculate Shipping
								</span>

								<div class="rs1-select2 rs2-select2 bor8 bg0 m-b-12 m-t-9">
									<select class="js-select2" name="time">
										<option>Select a country...</option>
										<option>USA</option>
										<option>UK</option>
									</select>
									<div class="dropDownSelect2"></div>
								</div>

								<div class="bor8 bg0 m-b-12">
									<input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="state" placeholder="State /  country">
								</div>

								<div class="bor8 bg0 m-b-22">
									<input class="stext-111 cl8 plh3 size-111 p-lr-15" type="text" name="postcode" placeholder="Postcode / Zip">
								</div>

								<div class="flex-w">
									<div class="flex-c-m stext-101 cl2 size-115 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer">
										Update Totals
									</div>
								</div>

							</div>
						</div>
					</div>

					<div class="flex-w flex-t p-t-27 p-b-33">
						<div class="size-208">
							<span class="mtext-101 cl2">
								Total:
							</span>
						</div>

						<div class="size-209 p-t-1">
							<span id="cart-total-price" class="mtext-110 cl2">
								$00.00
							</span>
						</div>
					</div>

					<button class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
						Proceed to Checkout
					</button>
				</div>
			</div>
		</div>
	</div>
</form>







<!-- Back to top -->
<div class="btn-back-to-top" id="myBtn">
	<span class="symbol-btn-back-to-top">
		<i class="zmdi zmdi-chevron-up"></i>
	</span>
</div>






@section Scripts {
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="~/template/vendor/sweetalert/sweetalert.min.js"></script>

	<script>

		$(document).ready(function () {
			var cart = JSON.parse(localStorage.getItem('cart')) || [];

			function updateCartUI() {
				var cartItemsContainer = $('#cart-items');
				var cartTotalPrice = 0;
				cartItemsContainer.empty();
				if (cart.length === 0) {
					cartItemsContainer.append('<tr><td colspan="6">Your cart is empty.</td></tr>');
				} else {


					cart.forEach(function (item, index) {
						cartTotalPrice += item.price * item.quantity;
						var sizeText = (item.size !== undefined && item.size !== null && item.size !== "") ? `<div>Beden: ${item.size}</div>` : "";
						var colorText = (item.color !== undefined && item.color !== null && item.color !== "") ? `<div>Renk: ${item.color}</div>` : "";
						var row = `
									<tr class="table_row" >
										<td class="column-1">
											<div class="how-itemcart1" data-index="${index}">
												<img src="${item.img}" alt="IMG" >
											</div>
										</td>
										<td class="column-2">
											<div>Ürün: ${item.name}</div>
											${sizeText}
											${colorText}
										</td>
										<td class="column-3">$${(item.price || 0)}</td>
										<td class="column-4">
											<div class="wrap-num-product flex-w m-l-auto m-r-0">
												<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m" data-index="${index}">
													<i class="fs-16 zmdi zmdi-minus" ></i>
												</div>
												<input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="${item.quantity}">
														<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m" data-index="${index}">
													<i class="fs-16 zmdi zmdi-plus" ></i>
												</div>
											</div>
										</td>
										<td class="column-5">$${(item.price * item.quantity).toFixed(2)}</td>
											<td class="column-5">
												<div class="btn-remove"  style="width:36px;height:36px;" data-index="${index}">
													<i class="fs-16 zmdi zmdi-delete" ></i>
												</div>
											</td>
									</tr>
								`;

						cartItemsContainer.append(row);
					});
					$('#cart-total-price').text(`$${cartTotalPrice.toFixed(2)}`);

				}
			}
			$(document).on('click', '.how-itemcart1', function () {
				var index = $(this).data('index');
				console.log("arttı", index);

				var productId = cart[index].productId;

				window.location.href = '/WebPage/Product/ProductDetail?productId=' + productId;

			});
			$(document).on('click', '.btn-num-product-up', function () {
				var index = $(this).data('index');
				console.log("arttı", index);

				cart[index].quantity++;

				localStorage.setItem('cart', JSON.stringify(cart));
				updateCartUI(); // UI'yi güncelle

			});

			// Miktar azaltma işlemi
			$(document).on('click', '.btn-num-product-down', function () {
				var index = $(this).data('index');
				if (cart[index].quantity > 1) {
					cart[index].quantity--;
					localStorage.setItem('cart', JSON.stringify(cart));
					updateCartUI(); // UI'yi güncelle

				}
			});

			// Ürünü silme işlemi
			$(document).on('click', '.btn-remove', function () {
				var index = $(this).data('index');
				Swal.fire({
					title: "Emin misiniz?",
					text: "You won't be able to revert this!",
					icon: "warning",
					showCancelButton: true,
					confirmButtonColor: "#3085d6",
					cancelButtonColor: "#d33",
					confirmButtonText: "Yes, delete it!"
				}).then((result) => {
					if (result.isConfirmed) {
						cart.splice(index, 1); // Ürünü sepetten çıkar
						localStorage.setItem('cart', JSON.stringify(cart)); // Sepeti güncelle
						updateCartUI();
						updateCartCount();
						Swal.fire({
							title: "Silindi!",
							text: "Ürün silindi!.",
							icon: "success"
						});
					} else {
						// Kullanıcı iptal ederse hiçbir şey yapma
						Swal.fire({
							title: "Cancelled",
							text: "Your item is safe.",
							icon: "info"
						});
					}
				});
			});
			$('#checkout-form').on('submit', function (event) {
				event.preventDefault();
				var cart = JSON.parse(localStorage.getItem('cart')) || [];

				// Sepet boşsa işlem yapma
				if (cart.length === 0) {
					alert("Sepetiniz boş!");
					return;
				}

				// Sepet verilerini sunucuya gönder
				$.ajax({
					type: "POST",
					url: "/WebPage/Order/Index",
					data: JSON.stringify(cart),
					contentType: "application/json",
					success: function (response) {
						// İşlem başarılıysa
						swal("Success", "Your order has been placed!", "success");
						localStorage.removeItem('cart'); // Sepeti temizle
						updateCartUI();
						updateCartCount();
					},
					error: function (error) {
						console.error("Error:", error);
						swal("Error", "There was a problem processing your order.", "error");
					}
				});
			});

			updateCartCount();
			// Sayfa yüklendiğinde sepeti güncelle
			updateCartUI();
		});
	</script>
}